* {
  font-family: "Roboto Mono", monospace;
}

:root {
    --blue-gradient: linear-gradient(to bottom, #2098ff, #62c6ff, #87e5fe);
    --blue1: #3772a0;
    --brown: #733e28;
    --green: #a7f19c;
    --dark-greyish-red: #999595;
    --gray85: #d9d9d9;
    --gray: #d3d2d2;
    --white: #ffff;
  }